.container {
    max-width: 500px;
    margin: 20px auto;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

h3 {
    text-align: center;
    color: #333;
    font-size: 16px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 13px;
}

input, select, button {
    width: 100%;
    padding: 2px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 6px;
    border: 1px solid #ccc;
    font-size: 13px;
}

th {
    background-color: #007bff;
    color: white;
}
